body {
  background: #F7EFED;
}
.container {
  border: none;
  box-shadow: none;
}
#item-name,
section {
  width: 100%;
}
#item-due-date {
  width: 60%
}
#add-item-button {
  width: 35%;
  float: right;
}
