<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/46">
        FEWD 46
      </a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/46/roster.html">Roster</a></li>
          <li><a href="/46/calendar.html">Calendar</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://developers.google.com/web/tools/chrome-devtools">Chrome Dev Tools</a></li>
              <li><a href="https://generalassembly.wistia.com/medias/jkrycndgrs">Setting up GitHub (video by GA)</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/resources/atom.html" target="_blank">Atom</a></li>
              <li><a href="/resources/keyboard-shortcuts.html" target="_blank">Keyboard Shortcuts</a></li>
              <li><a href="/resources/slack.html" target="_blank">Slack</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/37">Previous Curriculum (FEWD 37)</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="https://gallery.generalassemb.ly/FEWD">GA’s Final Project Gallery</a></li>
              <li><a href="https://bit.ly/fewd-finals">Avand’s Final Project Gallery</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/46/lectures/week-1/index.html">Week 1</a></li>
              <li><a href="/46/lectures/week-2/index.html">Week 2</a></li>
              <li><a href="/46/lectures/week-3/index.html">Week 3</a></li>
              <li><a href="/46/lectures/week-4/index.html">Week 4</a></li>
              <!--
              <li><a href="/46/lectures/week-5/index.html">Week 5</a></li>
              <li><a href="/46/lectures/week-6/index.html">Week 6</a></li>
              <li><a href="/46/lectures/week-7/index.html">Week 7</a></li>
              <li><a href="/46/lectures/week-8/index.html">Week 8</a></li>
              <li><a href="/46/lectures/week-9/index.html">Week 9</a></li>
              -->
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/46/assignments/1-acme-corp.html">1. ACME Corp</a></li>
              <li><a href="/46/assignments/2-acme-corp-continued.html">2. ACME Corp Continued</a></li>
              <li><a href="/46/assignments/3-likes-and-comments.html">3. Likes &amp; Comments</a></li>
              <li><a href="/46/assignments/4-todo-list.html">4. Todo List</a></li>
              <!--
              <li><a href="/46/assignments/4-stop-light.html">4. Stop Light</a></li>
              <li><a href="/46/assignments/8-movie-search.html">8. Movie Search</a></li>
              <li><a href="/46/assignments/9-spreadsheet.html">9. Spreadsheet</a></li>
              <li><a href="/46/assignments/10-chat.html">10. Chat</a></li>
              -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
