.navbar {
  background-color:white;
  opacity:0.95;
}

.navbar .container {
  border-bottom: 1px solid #808080;
}

.navbar .container h1 {
  display:inline-block;
  margin-top:10px;
  padding-right:10px;
}

.navbar .container a {
  display:none;
}

h2:before { 
  display: block; 
  content: " "; 
  height: 60px;
  margin-top: -60px;
  visibility: hidden; 
}

@media (min-width: 980px) {
  .content {
    padding-top:80px;
  }
  .navbar .container a {
    display:inline;
  }
}