h1 {
  font-size: 1.5em;
}
body {
  background: #F7EFED;
}
section {
  width: auto;
}
.container {
  padding: 0 2.5%;
  border: none;
  box-shadow: none;
  margin: 0;
}
input[type="text"] {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}
input[type="date"] {
  width: 63%;
  margin-right: 2%;
}
input[type="submit"] {
  width: 30%;
  float: right;
}
