main a { color: hsl(180, 100%, 30%); }
main a:hover { color: hsl(180, 100%, 35%); }
main a:visited { color: hsl(200, 100%, 30%); }

main a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}

main a:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

.btn-group a { border-bottom: none; }
