html {
  background-color: #EEEDEC;
  background-image: url(../images/background.png);
  font-family: "Lucida Grande", sans-serif;
}
body {
  margin: 0;
}

.btn {
  background-color: #2A4CB2;
  padding: 10px 20px;
  border: 1px solid #213A82;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.btn-buy {
  background-color: #DB0021;
  border-color: #650020;
}

header {
  background-color: #c4c4c4;
  padding: 10px 20px;
  border-bottom: 1px solid #848484;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 600px;
  overflow: auto;
}
header #logo {
  float: left;
}
header nav {
  text-shadow: 0 1px 0 #555;
  overflow: hidden;
}
header nav ol {
  padding-left: 0;
  margin: 0;
  line-height: 55px;
  text-align: right;
}
header nav li {
  display: inline;
  margin-left: 25px;
}
header nav li:first-child {
  margin-left: 0;
}
header nav a {
  color: white;
  text-decoration: none;
}

section,
footer {
  margin-left: 10%;
  margin-right: 10%;
}

section {
  background-color: white;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #C7C7C7;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
section h1 {
  margin-top: 0;
}
section p:last-child {
  margin-bottom: 0;
}
section form li {
  list-style-type: none;
}
section form ul {
  padding-left: 0;
}
section label {
  display: inline-block;
  margin-bottom: 20px;
  width: 100px;
}
section label[for="terms"] {
  width: auto;
}
section input:focus {
  outline: 0;
  box-shadow: 0 0 10px #6FC;
}
section input[type=text],
section input[type=password] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  width: 200px;
}
section input[type=text]:invalid,
section input[type=password]:invalid {
  border-color: #FFB0B9;
}
section input[type=text]:valid,
section input[type=password]:valid {
  border-color: #B2E5A2;
}

footer {
  color: #9A989A;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #C1C1C1;
  box-shadow: inset 0 1px 1px white;
  text-shadow: 0 1px 0 white;
}
