.product {
  overflow: auto;
}
.product:not(:last-child) {
  border-bottom: 1px solid #CCC;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.product p {
  margin-top: 0;
}
.product img {
  float: left;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid #B3B3B3;
  background: #E6E6E6;
  border-radius: 4px;
  max-width: 200px;
  height: auto;
}
.product .btn {
  display: inline-block;
}

@media screen and (max-width: 600px) {
}
