* { box-sizing: border-box; }

body {
  margin: 0;
  background: #f1f0f5;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.4em;
}

main {
  padding: 2em 3em;
}

label {
  cursor: pointer;
}

.input,
.button {
  border-radius: 5px;
  padding: .5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input,
.button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.input { border-top-width: 2px; }
.button {
  border-bottom-width: 2px;
  font-weight: 500;
}

h1 {
  margin: 0 0 1em;
  font-weight: 600;
  font-size: 1.4em;
}

.todo-count {
  float: right;
  font-size: 1.4em;
  font-weight: 300;
}

input:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 5px #049cd8;
}

#new-item-form {
  display: flex;
}

#new-item-input {
  flex: 10;
  margin-right: 10px;
}

#new-item-button {
  flex: 1;
}

button {
  color: white;
  width: 28%;
  background-color: #049cd8;
}

#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#todo-list li {
  margin-top: 0.5em;
  padding: .25em 1em 0;
}

input[type="checkbox"] {
  margin-right: 1em;
}
input:checked + span {
  opacity: 0.2;
  text-decoration: line-through;
}

.no-todos {
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
  opacity: 0.1;
}
