body {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5em;
}

h2 {
  border-top: 1px solid rgb(233, 233, 233);
  margin-top: 1.5em;
  padding-top: 1.5em;
}

h3 {
  color: rgb(106, 106, 106);
  font-style: italic;
}

h1, h2 {
  clear: both;
}
