h1, h2, h3, h4, h5, h6 { clear: both; }
h2::before { content: "#"; }
h3::before { content: "/"; }
h2, h3 { position: relative; }
h2::before,
h3::before {
  position: absolute;
  left: -.8em;
  opacity: 0.15;
  font-size: 1.4em;
  top: -.2em;
  font-weight: 600;
}
