@import 'homework.css';
@import 'frames.css';
@import 'icons.css';
@import 'carousels.css';
@import 'asides.css';
@import 'utilities.css';
@import 'images.css';
@import 'tables.css';
@import 'headings.css';
@import 'you-do.css';
@import 'vocab.css';

body {
  padding-top: 70px;
  background-color: hsl(47, 100%, 97%);
}

a         { color: hsl(122, 90%, 34%); }
a:hover   { color: hsl(122, 90%, 25%); }
a:active  { color: hsl(122, 90%, 40%); }
a:visited { color: hsl(122, 80%, 40%); }

main {
  font-family: "Georgia", serif;
  font-size: 16px;
  line-height: 1.6;
}

pre,
.gist,
.table {
  clear: both;
  margin: 2em 0;
  max-width: 700px;
}

main p {
  max-width: 600px;
}

code {
  font-size: 0.75em;
  background-color: rgba(255, 255, 255, 0.5);
}

.table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.table th,
.table td {
  padding: 4px !important;
}
