@import 'fonts.css';
@import 'links.css';
@import 'homework.css';
@import 'frames.css';
@import 'icons.css';
@import 'carousels.css';
@import 'code.css';
@import 'sidebars.css';
@import 'utilities.css';

body {
  margin: 12px 10%;
  max-width: 800px;
}

.thumbnail {
  max-height: 200px;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}

table td, th {
  text-align: left;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 5px;
}
