a { color: hsl(120, 100%, 30%); }
a:hover { color: hsl(120, 100%, 35%); }
a:visited { color: hsl(190, 100%, 30%); }

a {
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}

a:hover {
  border-color: rgba(0, 0, 0, 0.4);
}
