.you-do {
  padding: 1em;
  border-left: 5px solid green;
  margin: 3em 0;
  font-size: 1.25em;
}

.you-do::before {
  content: "Your turn";
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.6em;
  letter-spacing: 1px;
  margin-bottom: 0.8em;
  font-weight: 600;
  color: green;
}
