body {
  background: #EEEDEC url(../images/background.png);
  font-family: "Lucida Grande", sans-serif;
  margin: 0;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 .8em;
}

.btn {
  color: white;
  background-color: #2A4CB2;
  padding: 10px 20px;
  border: 1px solid #213A82;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

header {
  background-color: #c4c4c4;
  padding: 10px 20px;
  border-bottom: 1px solid #848484;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 700px;
  overflow: auto;
}
header #logo {
  float: left;
}
header nav {
  text-shadow: 0 1px 0 #555;
  text-align: right;
  margin-top: 8px;
}
header nav ol {
  padding-left: 0;
  margin: 0;
}
header nav li {
  display: inline;
  margin-left: 25px;
}
header nav li:first-child {
  margin-left: 0;
}
header nav a {
  color: white;
  text-decoration: none;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

section {
  background-color: white;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #C7C7C7;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
section h1 {
  margin-top: 0;
}

footer {
  color: #9A989A;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #cecece;
  box-shadow: inset 0 1px 1px white;
  text-shadow: 0 1px 0 white;
}

form ol {
  list-style: none;
  padding: 0;
}
form li {
  margin-bottom: .5em;
}
label {
  min-width: 150px;
  display: inline-block;
}
input:focus {
  outline: 0;
  box-shadow: 0 0 10px blue;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px 7px;
}
input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid {
  border-color: red;
}
input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid {
  border-color: green;
}

.products li {
  overflow: auto;
  border-bottom: 1px solid #c1c1c1;
  margin-top: 1em;
  padding-bottom: 1em;
}
.products li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.products img {
  max-width: 200px;
  height: auto;
  float: left;
  margin-right: 20px;
  padding: 5px;
  background-color: #E6E6E6;
  border: 1px solid #B3B3B3;
  border-radius: 4px;
}
.products p,
.products .stars {
  margin-bottom: 1em;
}
.products a {
  background-color: #DB0021;
  border-color: #650020;
}

.stars {
  height: 1.25em;
  width: 6.25em;
  background: url("../images/five-star-sprite.svg");
  display: inline-block;
  background-size: 100% auto;
}
.stars-large {
  height: 2.5em;
  width: 12.5em;
}
.stars-five  { background-position: 0 0;       }
.stars-four  { background-position: 0 -1.25em; }
.stars-three { background-position: 0 -2.5em;  }
.stars-two   { background-position: 0 -3.75em; }
.stars-one   { background-position: 0 -5em;    }
